In [1]:
import pandas as pd

In [21]:
matchSummary = pd.read_csv('dataset/match_summary.csv')
matchBattingSummary = pd.read_csv('dataset/match_batting_summary.csv')
matchBowlingSummary = pd.read_csv('dataset/match_bowling_summary.csv')
players = pd.read_csv('dataset/players.csv')

In [22]:
matchSummary

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879
1,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
2,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
3,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
4,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
5,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
6,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
7,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
8,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
9,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861
10,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
11,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859
12,England,New Zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858
13,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
14,Australia,Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855
15,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
16,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
17,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
18,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
19,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
20,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
21,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
22,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
23,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
24,South Africa,Zimbabwe,no result,-,Hobart,"Oct 24, 2022",T20I # 1844
25,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
26,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
27,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
28,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
29,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
30,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
31,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
32,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
33,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
34,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
35,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
36,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
37,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
38,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
39,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
40,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
41,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823

In [23]:
matchSummary.shape

(42, 7)

In [24]:
matchSummary.rename({'Scorecard': 'Match Id'}, axis = 1, inplace = True)

In [26]:
match_ids_dict = {}
for index, row in matchSummary.iterrows():
    key1 = row['Team 1'] + ' Vs ' + row['Team 2']
    key2 = row['Team 2'] + ' Vs ' + row['Team 1']
    match_ids_dict[key1] = row['Match Id']
    match_ids_dict[key2] = row['Match Id']

In [7]:
matchBattingSummary

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,England vs Pakistan,Pakistan,1,Mohammad Rizwan,15,14,0,1,107.14,out,T20I # 1879
1,England vs Pakistan,Pakistan,2,Babar Azam,32,28,2,0,114.28,out,T20I # 1879
2,England vs Pakistan,Pakistan,3,Mohammad Haris,8,12,1,0,66.66,out,T20I # 1879
3,England vs Pakistan,Pakistan,4,Shan Masood,38,28,2,1,135.71,out,T20I # 1879
4,England vs Pakistan,Pakistan,5,Iftikhar Ahmed,0,6,0,0,0.00,out,T20I # 1879
...,...,...,...,...,...,...,...,...,...,...,...
694,Namibia vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga,4,8,0,0,50.00,out,T20I # 1823
695,Namibia vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,5,8,0,0,62.50,out,T20I # 1823
696,Namibia vs Sri Lanka,Sri Lanka,9,Pramod Madushan,0,0,0,0,-,out,T20I # 1823
697,Namibia vs Sri Lanka,Sri Lanka,10,Dushmantha Chameera,8,15,0,0,53.33,out,T20I # 1823
698,Namibia vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,11,11,0,1,100.00,not_out,T20I # 1823

In [28]:
matchBattingSummary['batsmanName'] = matchBattingSummary['batsmanName'].apply(lambda x: x.replace('â€', ''))
matchBattingSummary['batsmanName'] = matchBattingSummary['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
matchBattingSummary.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,England vs Pakistan,Pakistan,1,Mohammad Rizwan,15,14,0,1,107.14,out,NaN
1,England vs Pakistan,Pakistan,2,Babar Azam,32,28,2,0,114.28,out,NaN
2,England vs Pakistan,Pakistan,3,Mohammad Haris,8,12,1,0,66.66,out,NaN
3,England vs Pakistan,Pakistan,4,Shan Masood,38,28,2,1,135.71,out,NaN
4,England vs Pakistan,Pakistan,5,Iftikhar Ahmed,0,6,0,0,0.00,out,NaN

In [8]:
matchBowlingSummary

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,England vs Pakistan,England,Ben Stokes,4.0,0,32,1,8.00,6,1,0,2,1,T20I # 1879
1,England vs Pakistan,England,Chris Woakes,3.0,0,26,0,8.66,7,2,1,2,0,T20I # 1879
2,England vs Pakistan,England,Sam Curran,4.0,0,12,3,3.00,15,0,0,0,0,T20I # 1879
3,England vs Pakistan,England,Adil Rashid,4.0,1,22,2,5.50,10,1,0,1,0,T20I # 1879
4,England vs Pakistan,England,Chris Jordan,4.0,0,27,2,6.75,9,3,0,0,0,T20I # 1879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Namibia vs Sri Lanka,Namibia,David Wiese,4.0,0,16,2,4.00,13,1,0,0,0,T20I # 1823
496,Namibia vs Sri Lanka,Namibia,Bernard Scholtz,4.0,0,18,2,4.50,10,1,0,0,0,T20I # 1823
497,Namibia vs Sri Lanka,Namibia,Ben Shikongo,3.0,1,22,2,7.33,6,3,0,0,0,T20I # 1823
498,Namibia vs Sri Lanka,Namibia,JJ Smit,3.0,0,16,1,5.33,7,0,0,1,0,T20I # 1823
499,Namibia vs Sri Lanka,Namibia,Jan Frylinck,4.0,0,26,2,6.50,10,0,2,1,0,T20I # 1823

In [9]:
players

,name,team,image,battingStyle,bowlingStyle,playingRole,description
0,Glenn Maxwell,Australia,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Batting Allrounder,"One of the fastest scorers in world cricket, G..."
1,James Neesham,New Zealand,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Right arm Medium fast,Batting Allrounder,"Allrounder, and Twitter star, Jimmy Neesham we..."
2,Anrich Nortje,South Africa,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Fast,Bowler,Anrich Nortje is a genuine quick who has been ...
3,Yasir Ali,Bangladesh,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Middle order Batter,NaN
4,Akeal Hosein,West Indies,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Slow Left arm Orthodox,Bowler,Akeal Hosein was handed a chance to impress fo...
...,...,...,...,...,...,...,...
208,Bas de Leede,Netherlands,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Fast medium,Batting Allrounder,NaN
209,Rohit Sharma,India,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne..."
210,Curtis Campher,Ireland,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Medium fast,Allrounder,"Born in Johannesburg, raised in South Africa a..."
211,Tony Munyonga,Zimbabwe,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Allrounder,NaN
212,JJ Smit,Namibia,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Left arm Medium fast,Bowling Allrounder,NaN

In [29]:
players['name'] = players['name'].apply(lambda x: x.replace('â€', ''))
players['name'] = players['name'].apply(lambda x: x.replace('†', ''))
players['name'] = players['name'].apply(lambda x: x.replace('\xa0', ''))
players.head(10)

,name,team,image,battingStyle,bowlingStyle,playingRole,description
0,Glenn Maxwell,Australia,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Batting Allrounder,"One of the fastest scorers in world cricket, G..."
1,James Neesham,New Zealand,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Right arm Medium fast,Batting Allrounder,"Allrounder, and Twitter star, Jimmy Neesham we..."
2,Anrich Nortje,South Africa,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Fast,Bowler,Anrich Nortje is a genuine quick who has been ...
3,Yasir Ali,Bangladesh,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Middle order Batter,NaN
4,Akeal Hosein,West Indies,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Slow Left arm Orthodox,Bowler,Akeal Hosein was handed a chance to impress fo...
5,Iftikhar Ahmed,Pakistan,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Middle order Batter,NaN
6,Zahoor Khan,U.A.E.,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Medium fast,Bowler,NaN
7,Tom Cooper,Netherlands,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Middle order Batter,An aggressive batsman who was born in Wollongo...
8,Josh Little,Ireland,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Left arm Fast medium,Bowler,"A bustling left-arm seamer from Dublin, Josh L..."
9,Odean Smith,West Indies,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Fast medium,Bowling Allrounder,NaN